# Dependency directories
node_modules/

# Build artifacts
build/
dist/
.svelte-kit/

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Media files
LocalClient/media/*

# Local playlist
playlist.json

# env variables 
.env

# Python virtual environment
.venv/

data
.docker/volumes

# Postgres
data/pgadmin-data/sessions/*
data/pgadmin-data/storage/*
pgadmin4.db


__pycache__/
*.pyc
__pycache__


.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
